#main_container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

.fill-button {
  width: 100%;
}

#desicion {
  font-size: 30px;
}

#summary p:not(#desicion) {
  font-size: 20px;
}

.approved {
  color: #00c853;
}

.decline {
  color: #d50000;
}

.undecided {
  color: #ff9100;
}
